# Environment variables (MUST BE IGNORED)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
dist-ssr/
*.local

# Supabase legacy config
public/supabase.json

# IDEs and editors
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
