# Supabase Database Configuration
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=your-password-here
DB_HOST=uthhdygpiqttjkqakxnf.supabase.co
DB_PORT=5432

# Django Secret Key
DJANGO_SECRET_KEY=django-insecure-m#f-b-v1-key-replace-in-prod
